td,th{
    vertical-align: middle !important;
    text-align: center !important;
}
.input-group{
    margin:20px 0px;
}
svg{
    height:120px;
}
td:first-of-type,td:first-of-type > div{
    height: 200px;
    width:250px;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}